/SC_model/SOLO.stl
/SC_model/SPP.stl
/Planet_model/MARS.jpeg
/Planet_model/MERCURY.jpeg
/Planet_model/NEPTUNE.jpeg
/Planet_model/SATURN.jpeg
/Planet_model/URANUS.jpeg
/Planet_model/VENUS.jpeg
/Planet_model/JUPITER.jpeg
/Planet_model/EARTH.jpeg
